<div class='d-flex justify-content-center align-items-center' style='height: 90vh'>
  <mat-card class='p-4 d-flex flex-column' style='width: 400px;'>
      <div>
        <mat-card-title class='ml-0 pl-0 text-center'>Reset Password</mat-card-title>
        <mat-divider></mat-divider>
      </div>

      <div class='pb-2 pt-4'>
        <app-form-generator
          (keydown.enter)='resetPassword()'
          [schema]='resetFormSchema'
          (formOutput)='form = $event'
          [appearance]="'standard'"
        ></app-form-generator>
      </div>

      <button mat-flat-button color='primary' class='w-100' (click)='resetPassword()'>
        Reset Password
      </button>
  </mat-card>
</div>
