  <html>
    <head>
      <title></title>
    </head>
    <body>
      <div data-role="module-unsubscribe" class="module" role="module" data-type="unsubscribe" style="color:#444444; font-size:12px; line-height:20px; padding:16px 16px 16px 16px; text-align:Center;">
         <div>
            Here is the Password Reset Link you requested. Click on the <b>Reset Password</b> button below to reset your
           password.
         </div>
         <div style="padding: 25px">
            <a href="{{{reset_link}}}" target="_blank"
                style="padding: 10px 25px; font-size: 16px; background: rgb(23,201,110); color: white; font-weight: bold; border: 0;">
                Reset Password
            </a>
         </div>
         <div>
            If you did not request this link. Disregard this message. The link will automatically expire.
         </div>
      </div>
    </body>
  </html>
