<form [formGroup]="form" autocomplete="off" class="form"
      [ngStyle]="{'flex-direction': flexDirection}">
    <ng-container *ngFor="let control of schema" [ngSwitch]="control.type">

        <ng-container *ngSwitchCase="'hidden'">
            <input [type]="control.type" [formControlName]="control.name"/>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <mat-form-field [appearance]="appearance" class='w-100' [ngStyle]="{order: control.order}">
                <mat-label *ngIf="control.label">{{control.label}}</mat-label>

                <!--textarea-->
                <textarea *ngIf="control.type === 'textarea' else Input"
                          matInput
                          [rows]="control.textarea_rows"
                          [type]="control.type"
                          [formControlName]="control.name">
                </textarea>

                <ng-template #Input>
                    <input matInput [type]="control.type" [formControlName]="control.name"/>
                </ng-template>

                <!--icon-->
                <mat-icon matSuffix *ngIf="control.icon && ( !control.icon_placement || control.icon_placement === 'after' )">
                    {{control.icon}}
                </mat-icon>
                <mat-icon matPrefix *ngIf="control.icon && control.icon_placement === 'before'">{{control.icon}}</mat-icon>

                <mat-hint *ngIf="control.hint">{{control.hint}}</mat-hint>

                <mat-error *ngIf="form.get(control.name).invalid">{{getErrorMessage(control.name)}}</mat-error>
            </mat-form-field>
        </ng-container>
    </ng-container>

</form>
