<section class='d-flex justify-content-center align-items-center' style='height: 90vh'>
  <mat-card>
    <mat-card-title>You've logged in!</mat-card-title>
    <div>
      <p>Hi there! {{user?.name | titlecase}}! </p>
      <p>This route is only available if you logged in.</p>
    </div>
  </mat-card>
</section>
