<section id="home">
    <div class='d-flex justify-content-center align-items-center h-100'>
        <mat-card class='p-4 d-flex flex-column' style='width: 400px;'>

            <ng-container [ngSwitch]='view'>
                <ng-container *ngSwitchCase="'signup'">
                    <div>
                        <mat-card-title class='ml-0 pl-0 text-center'>Signup</mat-card-title>
                        <mat-divider></mat-divider>
                    </div>

                    <div class='pb-2 pt-4'>
                        <app-form-generator
                          (keydown.enter)='signup()'
                          [schema]='signupFormSchema'
                          (formOutput)='signupForm = $event'
                          [appearance]="'standard'"
                        ></app-form-generator>
                    </div>

                    <button mat-flat-button color='primary' class='w-100' (click)='signup()'>
                        Sign up now
                    </button>

                    <div class='mt-4'>
                        <b class='cursor-pointer' (click)='view = null'>Already have an account? Login Now</b>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'forgotPassword'">
                    <div>
                        <mat-card-title class='ml-0 pl-0 text-center'>Forgot Password</mat-card-title>
                        <mat-divider></mat-divider>
                    </div>

                    <div class='d-flex flex-column justify-content-center align-items-center'>
                        <div class='pb-2 pt-4 w-100'>
                            <div *ngIf='resetLinkSent' class='text-center'>
                                <h4>Check your email!</h4>
                                <p>We sent you a reset link!</p>
                            </div>
                            <app-form-generator
                              (keydown.enter)='resetPassword()'
                              [schema]='[forgotPasswordFormSchema]'
                              (formOutput)='forgotPasswordForm = $event'
                              [appearance]="'standard'"
                            ></app-form-generator>
                        </div>

                        <button mat-flat-button color='primary' class='w-100' (click)='resetPassword()'>
                            Reset Password
                        </button>

                        <div class='mt-4'>
                            <b class='cursor-pointer' (click)="view = 'signup'">Don't have an account? Register Now</b>
                        </div>
                    </div>

                </ng-container>

                <ng-container *ngSwitchDefault>
                    <div>
                        <mat-card-title class='ml-0 pl-0 text-center'>Login</mat-card-title>
                        <mat-divider></mat-divider>
                    </div>

                    <div class='pb-2 pt-4'>
                        <app-form-generator
                          (keydown.enter)='login()'
                          [schema]='loginFormSchema'
                          (formOutput)='form = $event'
                          [appearance]="'standard'"
                        ></app-form-generator>
                    </div>

                    <button mat-flat-button color='primary' class='w-100' (click)='login()'>
                        Login
                    </button>

                    <div class='mt-4'>
                        <b class='cursor-pointer'  (click)="view = 'forgotPassword'">Forgot your password?</b>
                    </div>
                    <div class='mt-2'>
                        <b class='cursor-pointer'  (click)="view = 'signup'">Don't have an account? Register Today</b>
                    </div>
                </ng-container>

            </ng-container>


<!--            <ng-container *ngIf='magicLinkSent && !showSignup'>-->
<!--                <div class='pb-2 pt-4'>-->
<!--                    <p>-->
<!--                        We've sent you a magic link to {{form?.get('email').value}}. Please check your email-->
<!--                        to login.-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        Didn't receive a link? Or wrong email?-->
<!--                    </p>-->
<!--                    <button mat-flat-button color='primary' class='w-100' (click)="magicLinkSent = false">-->
<!--                        Request Another-->
<!--                    </button>-->
<!--                </div>-->

<!--            </ng-container>-->
        </mat-card>
    </div>
</section>
